{% for team, hints in hints.items() %}
    {% if hint_usage.get(team) %}
    <div class="table-wrapper">
        <table class="table non-unique-item-table" data-order='[[0, "asc"]]'>
            <thead>
            <tr>
                <th>Owner</th>
                <th class="center-column">Hints Available</th>
                <th class="center-column">Hints Used</th>
                <th class="center-column">Location Hints Available</th>
                <th class="center-column">Location Hints Used</th>
            </tr>
            </thead>
            <tbody>
            {% for usage in hint_usage[team] %}
                <tr>
                    <td>{{ usage.owner }}</td>
                    <td class="center-column">
                        {% if usage.hints_available is none %}Free{% else %}{{ usage.hints_available }}{% endif %}
                    </td>
                    <td class="center-column">{{ usage.hints_used }}</td>
                    <td class="center-column">
                        {% if usage.locations_available is none %}Free{% else %}{{ usage.locations_available }}{% endif %}
                    </td>
                    <td class="center-column">{{ usage.locations_used }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <div class="table-wrapper">
        <table id="hints-table" class="table non-unique-item-table" data-order='[[5, "asc"], [0, "asc"]]'>
            <thead>
            <tr>
                <th>Finder</th>
                <th>Receiver</th>
                <th>Item</th>
                <th>Location</th>
                <th>Game</th>
                <th>Entrance</th>
                <th class="center-column">Found</th>
            </tr>
            </thead>
            <tbody>
            {%- for hint in hints -%}
                {%-
                    if current_tracker == "Generic" or (
                        games[(team, hint.finding_player)] == current_tracker or
                        games[(team, hint.receiving_player)] == current_tracker
                    )
                -%}
                    <tr>
                        <td>
                            {% if get_slot_info(hint.finding_player).type == 2 %}
                                <i>{{ player_names_with_alias[(team, hint.finding_player)] }}</i>
                            {% else %}
                                {{ player_names_with_alias[(team, hint.finding_player)] }}
                            {% endif %}
                        </td>
                        <td>
                            {% if get_slot_info(hint.receiving_player).type == 2 %}
                                <i>{{ player_names_with_alias[(team, hint.receiving_player)] }}</i>
                            {% else %}
                                {{ player_names_with_alias[(team, hint.receiving_player)] }}
                            {% endif %}
                        </td>
                        <td>{{ item_id_to_name[games[(team, hint.receiving_player)]][hint.item] }}</td>
                        <td>{{ location_id_to_name[games[(team, hint.finding_player)]][hint.location] }}</td>
                        <td>{{ games[(team, hint.finding_player)] }}</td>
                        <td>{% if hint.entrance %}{{ hint.entrance }}{% else %}Vanilla{% endif %}</td>
                        <td class="center-column">{% if hint.found %}✔{% endif %}</td>
                    </tr>
                {% endif %}
            {%- endfor -%}
            </tbody>
        </table>
    </div>
{% endfor %}
